:root {
  --bgDark: #17526e;
  --bgLight: #25727d;
}


* {
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  background-color: #17526e;
  color: #e2d7d0;
}

body {
  background-color: #17526e;
}

h1, h2 {
  text-align: center;
  color: #f5c876;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 24px;
  padding: 2%;
}

footer {
  text-align: center;
  font-size: 12px;
}

button {
  margin: 0 auto;
  margin-top: 1%;
  margin-bottom: 1%;
  display: block;
  padding: 1%;
  border-radius: 10px;
}

.inner-container {
  display: flex;
  margin: 1.5%;
  height: 100%;
  width: 98vw;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.game-container {
  display: flex;
  margin: 1%;
  width: 80%;
  justify-content: center;
  align-items: center;
  background-color:#17526e;
  border-radius: 10px;
  border: #f5c876 2px solid;
}

.col {
  margin: 2%;
  width: 40%;
  flex-direction: column;
}

.instructions {
  position: fixed;
  padding: 1%;
  width: 50%;
  z-index: 20;
}

.instructions > p {
  padding: 1% 5% 1% 5%;
}

/* Code referenced from https://codepen.io/chabzz/pen/mVYVpY */

.instructions:after {
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,0.4);
  z-index: -2;
}

.instructions:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom:	 0;
  right: 0;
  background: var(--bgDark);
  z-index: -1;
  border-radius: 10px;
  border: #f5c876 2px solid;
}

.grid-container {
  min-width: 400px;
  display: grid;
  overflow: hidden;
  grid-template-columns: 100px 100px 100px 100px;
  grid-template-rows: 100px 100px 100px 100px 100px;
}

.grid-item {
  border: 1px solid white;
  overflow: hidden;
  background-color: var(--bgLight);

}

.button {
  color: black;
}


.grid-item:hover {
  background-color: rgba(23, 82, 110, 0.3);
}

.overlay {
  position: fixed;
  background-color: transparent;
}

.overlay > div {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

#overlay {
  position: absolute;
  background-color: transparent;
  z-index: 4;
  left: 0;
  top: 0;
}

#title {grid-area: title;}
#head0 {grid-area: head0;}
#b0 {grid-area: b0;}
#b1 {grid-area: b1;}
#b2 {grid-area: b2;}
#b3 {grid-area: b3;}
#b4 {grid-area: b4;}
#b5 {grid-area: b5;}
#b6 {grid-area: b6;}
#b7 {grid-area: b7;}
#b8 {grid-area: b8;}
#b9 {grid-area: b9;}
#n0 {grid-area: n0;}
#n1 {grid-area: n1;}
#n2 {grid-area: n2;}
#n3 {grid-area: n3;}
#n4 {grid-area: n4;}
#n5 {grid-area: n5;}
#n6 {grid-area: n6;}
#n7 {grid-area: n7;}
#n8 {grid-area: n8;}
#n9 {grid-area: n9;}
#n10 {grid-area: n10;}
#n11 {grid-area: n11;}
#n12 {grid-area: n12;}
#n13 {grid-area: n13;}
#n14 {grid-area: n14;}
#n15 {grid-area: n15;}
